* {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body,
html {
  padding: 0;
  margin: 0;
}

@font-face {
    font-family: 'Circular';
    src: url('../public/fonts/lineto-circular-medium.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Circular';
    src: url('../public/fonts/lineto-circular-book.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Circular';
    src: url('../public/fonts/lineto-circular-bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Circular';
    src: url('../public/fonts/lineto-circular-black.woff2') format('woff2');
    font-style: normal;
    font-weight: 800;
    font-stretch: normal;
  }

@font-face {
    font-family: 'National';
    src: url('../public/fonts/National2CondensedWeb-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }


@font-face {
    font-family: 'GT';
    src: url('../public/fonts/GT-Alpina-Standard-Thin.woff2') format('woff2');  
    font-style: normal;
    font-stretch: normal;
  }

@font-face {
    font-family: 'GT';
    src: url('../public/fonts/GT-Alpina-Standard-Thin-Italic.woff2') format('woff2');  
    font-style: italic;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 500;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-Regular.woff2') format('woff2');
    font-style: normal;
    font-weight: 400;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-SemiBold.woff2') format('woff2');
    font-style: normal;
    font-weight: 600;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-SemiBoldItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 600;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-MediumItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 500;
    font-stretch: normal;
  }
@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-LightItalic.woff2') format('woff2');
    font-style: italic;
    font-weight: 300;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-Light.woff2') format('woff2');
    font-style: normal;
    font-weight: 300;
    font-stretch: normal;
  }

@font-face {
    font-family: 'Calibre';
    src: url('../public/fonts/CalibreWeb-Bold.woff2') format('woff2');
    font-style: normal;
    font-weight: 700;
    font-stretch: normal;
  }

body {
  --notion-font: 'Calibre', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', 'Noto Sans', sans-serif;
  --serif-font: 'GT';
  font-family: var(--notion-font);
  overflow-x: hidden;
}

.static-tweet blockquote {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
}

.static-tweet-emoji {
  height: 1.2em !important;
  width: 1.2em !important;
}

.searchInput {
  color: var(--fg-color);
  caret-color: var(--fg-color);
}
